<nav class='navigation'>
  <ul>
  {{current.name}}
  	<li><a href='/team/{{current._id}}/'>Home</a></li>
  	<li><a href='/team/{{current._id}}/schedule'>Schedule</a></li>
  	<li><a href='/team/{{current._id}}/roster'>Roster</a></li>
  	<li><a href='/team/{{current._id}}/account'>Account</a></li>
  </ul>
</nav>