<nav class='navigation' id='globalnav' role='navigation'>
  <div class='nav-content'>
    <div class='nav-main'>
	  <ul class='nav-list'>
	    <li class='nav-tab nav-tab-logo'><a class='nav-tab-link' href='/team/{{active_team._id}}'>Sportify</a></li>
	  	<li class='nav-tab nav-tab-home'><a class='nav-tab-link' href='/team/{{active_team._id}}'>Home</a></li>
	  	<li class='nav-tab nav-tab-schedule'><a class='nav-tab-link' href='/team/{{active_team._id}}/schedule'>Schedule</a></li>
	  	<li class='nav-tab nav-tab-roster'><a class='nav-tab-link' href='/team/{{active_team._id}}/roster'>Roster</a></li>
	  	<li class='nav-tab nav-tab-account'><a class='nav-tab-link' href='/account?team_id={{active_team._id}}'>Account</a></li>
	  </ul>
	</div>
	 
  <ul class='nav-teams-dropdown'>
    {{#each other_teams}}
      <li>
        <a href='/team/{{_id}}'>{{name}}</a>   
      </li> 
    {{/each}}
  </ul> 
 
</div>
</nav> 
