<div class="rsvp-status">
  Players In:
  <ul class='players-in'>
    {{#each players_in}}
      <li> {{this.full_name}} </li>   
    {{/each}}
  </ul> 

  Players Out:
  <ul class='players-out'>
    {{#each players_out}}
      <li> {{this.full_name}} </li>   
    {{/each}}
  </ul>
</div>

<script>
  var Sportify = {};

  Sportify.playerId = "{{player_id}}";
  Sportify.nextGameId = "{{next_game._id}}";
  Sportify.activeTeamId = "{{active_team._id}}";

  // TODO: remove this hack, should be part of the API response instead
  Sportify.rsvpStatus = {{#find player_id players_in}}true{{else}}false{{/find}};
</script>
