
<div class="next-game rsvp">
  <a href="#" data-player-id="{{player_id}}" data-game-id="{{next_game._id}}" data-team-id="{{active_team._id}}" data-rsvp="in"  class="btn btn-primary">In</a>
  <a href="#" data-player-id="{{player_id}}" data-game-id="{{next_game._id}}" data-team-id="{{active_team._id}}" data-rsvp="out" class="btn btn-default">Out</a>
</div>
