<h1>{{title}}</h1>

<div class="container">
	<form action="/account?team_id={{active_team._id}}" method="POST">
	  <div class="account">
      <fieldset>
        <legend>Account Information</legend>

				<div class='email'>
					<label for="email">Email</label>
					<div class="input">
						<input type="text" id="email" name="email" value="{{email}}">
					</div>
				</div>

				<div class='password'>
					<label for="password">Password</label>
					<div class="input">
						<input type="password" id="password" name="password">
					</div>
				</div>

				<div class='first_name'>
					<label for="first_name">First Name</label>
					<div class="input">
						<input type="text" id="first_name" name="first_name" value="{{first_name}}">
					</div>
				</div>

				<div class='last_name'>
					<label for="last_name">Last Name</label>
					<div class="input">
						<input type="text" id="last_name" name="last_name" value="{{last_name}}">
					</div>
				</div>

				<div class='number'>
					<label for="number">Jersey Number</label>
					<div class="input">
						<input type="text" id="number" name="number" value="{{number}}">
					</div>
				</div>

				<div class='phone_number'>
					<label for="phone_number">Phone Number</label>
					<div class="input">
						<input type="text" id="phone_number" name="phone_number" value="{{phone_number}}">
						<span class="help">This will only be used by our team if we need to contact each other.</span> 
					</div>
				</div>

			  <div class='position'>
		      <label for="position">Position</label>
		      <div class="input">
			      <select name="position" data-current-position={{position}}>
		          <option value="PG">PG</option>
		          <option value="SG">SG</option>
		          <option value="SF">SF</option>
		          <option value="F">F</option>
		          <option value="C">C</option>
			      </select>
		      </div>
			  </div>

			  <label>Admin?</label>
			  <input name="is_admin" value="{{is_admin}}" type="checkbox" disabled="" checked="">
			</fieldset>

			<input type="submit" class="btn btn-primary" value="Save">

		</div>
	</form>
</div>

{{#section 'head'}}
  <link rel="stylesheet" type="text/css" href="/build/css/nav.bundle.css">
  <link rel="stylesheet" type="text/css" href="/build/css/footer.bundle.css">
  <link rel="stylesheet" type="text/css" href="/build/css/account.bundle.css">
{{/section}}

{{#section 'scripts'}}
  <script src="/build/js/header.bundle.js"></script>
	<script src="/build/js/account.bundle.js"></script>
{{/section}}
