
<h1>Home Page</h1>

{{#if next_game}}

  <h2>{{active_team.name}} vs {{next_game.opponent}}</h2>

  <p>
    {{>rsvp}}
  </p>

  <p> Game Number: {{next_game.number}} </p>
  <p> Start Time: {{next_game.start_time}} </p>
  <p> Address: {{next_game.address}} </p>
  <p> Gym: {{next_game.gym}} </p>
  <p> Location Details: {{next_game.location_details}} </p>


  Players In:
  <ul class='players-in'>
    {{#each players_in}}
      <li> {{full_name}} </li>   
    {{/each}}
  </ul> 

  Players Out:
  <ul class='players-out'>
    {{#each players_out}}
      <li> {{full_name}} </li>   
    {{/each}}
  </ul>

  <div id="map" data-address="{{next_game.address}}" data-latitude={{lat}} data-longitude={{lng}} ></div>

{{else}}

  <h2>No Upcoming Games Scheduled.</h2>

{{/if}}


