<h1>Home Page</h1>

{{#if next_game}}

  <h2>{{active_team.name}} vs {{next_game.opponent}}</h2>

  <div id="react-toggle-component" 
       {{!-- TODO: remove this hack, should be part of the API response instead --}}
       data-rsvp-status={{#contains player_id next_game.players_in}}"true"{{else}}"false"{{/contains}}
       data-player-id="{{player_id}}" 
       data-game-id="{{next_game._id}}" 
       data-team-id="{{active_team._id}}">
  </div>

  <p> Game Number: {{next_game.number}} </p>
  <p> Start Time: {{next_game.start_time}} </p>
  <p> Address: {{next_game.address}} </p>
  <p> Gym: {{next_game.gym}} </p>
  <p> Location Details: {{next_game.location_details}} </p>

  <section class="rsvp-section">
    {{>rsvp}}
  </section>

  <div class='directions-google-maps'>
    <a target="_blank" href='https://www.google.com/maps/place/{{next_game.address}}'>See Directions in Google Maps</a>
  </div>

  <div class='directions-origin'>
    <label>Origin: </label>
    <input placeholder='e.g., 75 9th Avenue, New York, NY'></input>
    <button>Get Directions</button>
  </div>

  <div id="map" data-address="{{next_game.address}}" data-latitude={{lat}} data-longitude={{lng}} ></div>

{{else}}

  <h2>No Upcoming Games Scheduled.</h2>

{{/if}}

{{#section 'head'}}
  <link rel="stylesheet" type="text/css" href="/build/css/nav.bundle.css">
  <link rel="stylesheet" type="text/css" href="/build/css/footer.bundle.css">
  <link rel="stylesheet" type="text/css" href="/build/css/home.bundle.css">
{{/section}}

{{#section 'scripts'}}
  {{#if isDev}}
    {{!-- set scripts to window to avoid waiting on bundles --}}
    
    <script src="/build/js/index.bundle.js"></script>

{{!--   
    <script src="/dist/jquery-2.1.4.js"></script>
    <script src="/dist/react-with-addons-0.14.3.js"></script>
    <script src="/dist/react-dom-0.14.3.js"></script>
    <script src="/node_modules/@sanchezjjose/react-toggle-component/lib/utils/http.js"></script>
    <script src="/node_modules/@sanchezjjose/react-toggle-component/lib/components/slider.js"></script>
    <script src="/node_modules/@sanchezjjose/react-toggle-component/lib/components/text.js"></script>
    <script src="/node_modules/@sanchezjjose/react-toggle-component/lib/components/toggle.js"></script>
    <script src="/javascripts/rsvp.js"></script>
    <script src="/javascripts/maps.js"></script>
    <script src="/javascripts/index.js"></script>
  --}}
  {{else}}
    <script src="/build/js/index.bundle.js"></script>
  {{/if}}
{{/section}}
