{{#if next_game}}

  <div class="heading">
    <h1 class="matchup">{{active_team.name}} vs. {{next_game.opponent}}</h1>
    <h2 class="game-number"> Game {{next_game.number}} </h2>
  </div>

  <section class="details">
    
    <p> Start Time: {{next_game.start_time}} </p>
    <p> Address: {{next_game.address}} </p>
    <p> Gym: {{next_game.gym}} </p>
    <p> Location Details: {{next_game.location_details}} </p>

    <div id="react-toggle-component"></div>

    <section class="rsvp-section">
      {{>rsvp}}
    </section>
  
    {{>maps}}

  </section>

{{else}}

  <h2>No Upcoming Games Scheduled.</h2>

{{/if}}

{{#section 'head'}}
  <link rel="stylesheet" type="text/css" href="/build/css/nav.bundle.css">
  <link rel="stylesheet" type="text/css" href="/build/css/footer.bundle.css">
  <link rel="stylesheet" type="text/css" href="/build/css/home.bundle.css">
{{/section}}

{{#section 'scripts'}}
  <script src="/build/js/header.bundle.js"></script>
  <script src="/build/js/index.bundle.js"></script>
{{/section}}
