{{#if next_game}}

  <div class="heading">
    <h1 class="matchup">{{active_team.name}} vs. {{next_game.opponent}}</h1>
    <h2 class="game-number"> Game {{next_game.number}} </h2>
  </div>

  <section class="details">
    
    <p> Start Time: {{next_game.start_time}} </p>
    <p> Address: {{next_game.address}} </p>
    <p> Gym: {{next_game.gym}} </p>
    <p> Location Details: {{next_game.location_details}} </p>

    <div id="react-toggle-component" 
       {{!-- TODO: remove this hack, should be part of the API response instead --}}
       data-rsvp-status={{#contains player_id next_game.players_in}}"true"{{else}}"false"{{/contains}}
       data-player-id="{{player_id}}" 
       data-game-id="{{next_game._id}}" 
       data-team-id="{{active_team._id}}">
    </div>

    <section class="rsvp-section">
      {{>rsvp}}
    </section>
  
    <div class='directions-google-maps'>
      <a target="_blank" href='https://www.google.com/maps/place/{{next_game.address}}'>See Directions in Google Maps</a>
    </div>

    <div class='directions-origin'>
      <label>Origin: </label>
      <input placeholder='e.g., 75 9th Avenue, New York, NY'></input>
      <button>Get Directions</button>
    </div>

    <div id="map" data-address="{{next_game.address}}" data-latitude={{lat}} data-longitude={{lng}} ></div>
  </section>

{{else}}

  <h2>No Upcoming Games Scheduled.</h2>

{{/if}}

{{#section 'head'}}
  <link rel="stylesheet" type="text/css" href="/build/css/nav.bundle.css">
  <link rel="stylesheet" type="text/css" href="/build/css/footer.bundle.css">
  <link rel="stylesheet" type="text/css" href="/build/css/home.bundle.css">
{{/section}}

{{#section 'scripts'}}
  <script src="/build/js/index.bundle.js"></script>
{{/section}}
