
<h1>Roster.</h1>
  
<h2>{{active_team.name}}</h2>

<div class="roster">
  {{#each players}}
    <div>
      <span>{{player_id}}</span> | 
      <span>{{full_name}}</span> | 
      <span>{{number}}</span> | 
      <span>{{phone_number}}</span> | 
      <span>{{position}}</span>
    </div>
  {{/each}}
</div>
