
<h1>Roster.</h1>
  
<h2>{{teams.current.name}}</h2>

<div class="roster">
  {{#each players}}
    <div>
      <span>{{id}}</span> | 
      <span>{{name}}</span> | 
      <span>{{number}}</span> | 
      <span>{{phoneNumber}}</span> | 
      <span>{{position}}</span>
    </div>
  {{/each}}
</div>
